---
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="flex justify-end">
    <div
      class="flex items-end justify-center w-[5vw] pb-16 h-screen top-0 fixed left-0"
    >
      <p class="[writing-mode:vertical-lr] text-xl">test</p>
    </div>

    <div class="h-[500vh] w-[95vw]">
      <p>test</p>
    </div>
  </div>
</Base>
